/* http://material.colorion.co/palette/3320 */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: 'Righteous', cursive;
    color:#E74C3C;
    text-align: center;
    background: url("https://i.imgur.com/tY0L1wp.jpg") no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-text {
  opacity: 1;
  background-color:rgba(0,0,0,0.21)!important;
}
  
  h1 {
    text-align:center;
    font-size: 60px;
    color:#E74C3C;
    text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
    margin-bottom: 10px;
    margin-top: 35px;
  }
 
.countdownBox{
  margin-top: 75vh;
}

.animated {
  font-family: "Charm", cursive;
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  background: url("https://i.imgur.com/Zr7np7Z.png") no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 100% 15%;
  }
}
